*{
    padding: 0;
    margin: 0;
}
#wrapper{
    width: 800px;
    font-family: sans-serif;
    color: #003366;
    margin: auto;
}
#title{
    margin: 10px;
    font-size: 1.8em;
    font-weight: bold;
}
main{
    width: 70%;
    display: inline-block;
}
aside{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid lightgray;
    margin: 5px;
    background-color: #FAFAFA;
    height: 503px;
}
article{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 30%;
    margin: 5px;
    display: inline-block;
}
article a{
    text-decoration: none;
    color:#003366;
}
article header{
    padding: 10px 10px 0px 10px;
    font-weight: bold;
}
.subheading{
    padding: 0px 5px 0px 10px;
}
article img{
    display: block;
    width:95%;
}
.price{
    background-color: #003366;
    width: 55%;
    float: right;
    padding: 10px 10px 10px 20px;
    color:white;
    border-top-left-radius: 10px;
    font-weight: bold;
}
.new{
    width:50px;
}
#new1{
     position: absolute;
     left:590px;
     top:135px;
}
#new2{
    position: absolute;
    left:590px;
    top:360px;
}

/** aside **/
.name{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1.1em;
}
.left,.right{
    display: inline-block;
    font-size: 0.8em;
    padding: 0 2px;
}
.left{
    text-align: left;
}
.right{
    float: right;
}
aside input{
    width: 100%;
}
